// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @author Edgar Esparza

$brand-primary: #094898;
$brand-secondary: #CE0000;
$brand-black: #040404;
$light-grey:#ebebeb;

.brand-primary { 
	color: $brand-primary; 
}
.brand-secondary { 
	color: $brand-secondary; 
}
.brand-black {
	color: $brand-black;
}
.light-grey{
	color: $light-grey;
}