// -----------------------------------------------------------------------------
// This file contains styles that are specific to the facilities page.
// -----------------------------------------------------------------------------
.unit-size-filters {
	display:none;
}
.view-unit-filters-trigger {
	border:1px solid $brand-primary;
	padding: .25rem .5rem;
}
.fac-feature-txt {
	line-height:1.25;
	margin-top:.75rem;
	font-size:.9rem;
}
.fac-features h2,
.fac-about h2 {
	font-size: 1.5rem;
    font-weight: 600;
    text-align:center;
}
.fac-gallery-bg {
	position:relative;
	width:100%;
	height:15rem;
	background-size:cover;
	background-position:center;
}
@media screen and (min-width:300px) {
	.unit-hr {
	padding-bottom: .5rem;
    border-bottom: 1px solid $light-grey;
	}
	.facility-hero {
		position:absolute;
		top:60px;
		width:100%;
		height:200px;
		z-index: -1;
	}
	.facility-hero:after {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background-color:rgba(0, 0, 0, 0.5);
	}
	.facility-info {
		margin-top:1.25rem;
		h1 {
			font-size:1.2rem;
			font-weight:600;
		}
		address {
			font-size:1rem;
		}
	}
	.fac-gallery-thb {
		position:relative;
	}
	.fac-hours {
		.title {
			font-weight:600;
			font-size:1.1rem;
		}
		li {
			display:block;
			padding:.15rem 0;
		}
		ul {
			border-bottom:1px solid $light-grey;
			padding-bottom:1rem;
		}
	}
	.fac-tabs {
		margin-top:1rem;
		.nav-tabs .nav-link {
			padding:.5rem .35rem;
			background-color:$light-grey;
			text-transform:uppercase;
		    font-size: .85rem;
		    font-weight: 600;
		}
		.nav-tabs .nav-link.active {
			color:$brand-primary;
			background-color: white;
			text-decoration: underline;
			text-decoration-color: $brand-secondary;
		}
		.nav-tabs .nav-item {
			margin-right:4px;
		}
	}
	.units-content {
		background-color:white;
		padding:1rem;
	}
	.units-table {}
	.unit-row {
		background-color:#f6f6f6;
		border-radius:3px;
		padding: .5rem 0;
		margin-top:1rem;
	}
	.unit-info .title {
		font-weight:600;
		font-size:1.35rem;
	}
	.unit-promo {
		font-weight:600;
		color:$brand-secondary;
		font-size:1.2rem;
	}
	.unit-price .price {
		line-height:1;
		margin-bottom:6px;
		display:inline;
	}
	.unit-price .price span {
		font-weight:600;
		font-size:1.5rem;
	}
	.unit-price .price sup {
		font-weight:600;
	}
	.fac-features,
	.fac-about,
	.fac-map {
		padding:1rem 2rem;
		background-color:white;
	}
	.fac-map {
		height:400px;
	}
	.infowindow-title {
		font-size:1.2rem;
	}
	.infowindow-p {
		font-size:1rem;
		line-height:1.4;
	}
	.btn-infowin {
		padding: .25rem .75rem;
	}
	.unit-info a,
	.unit-features li {
		font-size:.9rem;
	}
	.unit-promo {
		font-size:1rem;
	}
}
@media screen and (min-width:500px) {
	.view-unit-filters-trigger {
		display:none!important;
	}
	.facility-info {
		h1 {
	    	font-size: 1.4rem;
		}
	}
	.btn-fac-size {
	    padding: .5rem 1rem;
	    margin-right: .25rem;
	}
	.unit-size-filters {
		display:block!important;
	}
}
@media screen and (min-width:768px) {
	.facility-hero {
		top:95px;
	}
	.unit-row {
		padding:1rem;
	}
	.unit-hr {
		padding:0;
		border-bottom: none;
	}
	.unit-price .price {
		display:block
	}
	.fac-tabs .nav-tabs .nav-link {
		padding:1.1rem 2rem 1rem;
		font-size:.9rem;
	}
}
@media screen and (min-width:992px) {
	.facility-info {
		margin-top:3rem;
	}
	.fac-tabs {
		margin-top:145px;
	}
	.facility-hero:after {
		background-color:rgba(0, 0, 0, 0.35);
	}
}
@media screen and (min-width:1200px) {
	.facility-hero {
		height:400px;
	}
	.facility-info {
		margin-top:3rem;
		h1 {
			font-size: 1.75rem;
		}
		address {
			font-size:1.2rem;
		}
	}
	.fac-tabs {
		margin-top:345px;
	}
	.fac-tabs .nav-tabs.nav-fill .nav-item {
		flex:inherit;
	}
	.unit-info .title {
		font-size:2rem;
	}
	.unit-info a,
	.unit-features li {
		font-size:1rem;
	}
	.unit-promo {
		font-size:1.2rem;
	}
}
