// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.location-search {
	background-color:white;
	padding: .1rem 1rem;
	border-radius: 3px 0 0 3px;
}
.location-search label {
	font-size: .75rem;
	text-transform:uppercase;
	margin-bottom:0;
}
.location-search .form-control {
	border: 1px solid white;
}
.home-features {
	padding:1.5rem 0;
}
.home-feature {
	background-color:#edeff1;
	width:100%;
	padding:1rem;
	border-radius:8px;
	border:none;
	text-align:center;
}
.home-feature-title {
	display: block;
    font-weight: 600;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
}
.home-feature-p {
	font-size:.9rem;
	margin: 0 auto;
	margin-bottom:0;
	max-width:40ch;
}
.home-storage-tools {
	padding-bottom:5rem;
}
.home-storage-tool {
	border:none;
	background-color: white;
}
.home-storage-tools-txt {
	padding:2rem 1rem;
}
.home-storage-tools-title {
	font-size:1.25rem;
	font-weight:600;
}
.home-storage-tools-p {
	margin-top:.5rem;
}
.home-subheader {
	display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align:center;
}

@media screen and (min-width:300px) {

	.homepage-hero {
	    position: relative;
	    margin-left: 0;
	    margin-right: 0;
	    margin-top: 0;
	    height: 375px;
	    border-radius: 0;
	    overflow:hidden;
	    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(assets/img/home-hero-mobile.jpg);
	    background-size:cover;
	}

	.homepage-hero-content {
		max-width:600px;
		padding:15px;
	}

	.homepage-hero-content h1 {
		font-weight: 600;
		color: white;
		text-align: center;
		font-size: 2rem;
		text-shadow: 3px 3px 3px rgba(1, 1, 1, .5);
	}
	.hero-quick-links {
		position:absolute;
		width:100%;
		text-align:center;
		bottom:0;
		left:0;
		right:0;
		padding:.5rem 1rem;
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
		background-color: rgba(9, 72, 152, 0.9);
		color:white;
	}
	.hero-quick-links a {
		color:white;
	}
	.pre-footer-search {
		background-color:#edeff1;
		padding:4rem 0;
		h2 {
			font-size:1.5rem;
		}
	}
}
@media screen and (min-width:525px) {
	.home-features {
		padding:3rem 0;
	}
	.home-subheader {
		display:inline-block;
		font-size:1.5rem;
		margin-bottom:2.5rem;
		text-align:center;
	}
	.home-subheader:after {
		display:block;
		margin:0 auto;
		margin-top:1.5rem;
		text-align:center;
		content:'';
		width:250px;
		height:5px;
		background-color:#edeff1;
	}
}
@media screen and (min-width:768px) {
	.homepage-hero {
		position:relative;
		margin-left: 2rem;
	    margin-right: 2rem;
	    margin-top:2rem;
		height:375px;
		border-radius:21px;
		background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("assets/img/home-hero-desktop.jpg");
	}
	.hero-quick-links {
	    border-bottom-left-radius: 21px;
	    border-bottom-right-radius: 21px;
	}
	.homepage-hero-content {
		padding:0;
	}
	.homepage-hero-content h1 {
		font-size: 2.5rem;
	}
	.home-feature {
		text-align:left;
	}
	.home-feature-p {
		font-size:.9rem;
		margin: 0;
		margin-bottom:0;
		max-width:40ch;
	}
}
@media screen and (min-width:992px) {
	.homepage-hero {
		height:500px;
	}
	.homepage-hero-content h1 {
		font-size: 3rem;
	}
}
