// -----------------------------------------------------------------------------
// This file contains styles that are specific to the market page.
// -----------------------------------------------------------------------------

.market-header {
	font-size:1.35rem;
	font-weight:600;
	margin-bottom:0;
	text-align:center;
}
.market-table .card-title {
	font-weight:600;
	font-size:1.15rem;
}
.map-btn {
	background-color:transparent;
	border-color:transparent;
	color:$brand-black;
}
.map-btn:focus,
.map-btn:hover, 
.map-btn:active {
	background-color:transparent;
	border-color:transparent;
	color:$brand-black;
}
#marketMap {
    position:fixed!important;
    top:100%;
    width:100vw;
    height:0;
    background-color:#ffffff;
}
#marketMap.tall {
    height:100vh;
}
.noscroll {
    overflow:hidden;
}
.map-close {
    width:100px;
    height:75px;
    background-color:#ffffff;
    color:#000000;
}
.btn-market-search {
	background-color:#dee2e6;
	border-color:#dee2e6;
	color:$brand-black;
}
.filters-title {
	font-weight: 600;
	font-size: 1.3rem;
}
.features-title {
	font-weight: 600;
	font-size: 1rem;
}
.market-filters label {
	font-weight:500;
}
.market-filters .form-check {
	margin-top:.3rem;
	margin-bottom:.3rem;
}
.market-filters {
	display:none;
}
.search-txt {
	display:none;
}
.search-icon {
	display:block;
}
@media screen and (min-width:300px) {
	.card-group .card.market-card {
		margin-bottom:2rem;
		border:none;
	}
	.card-group .card.market-card>.card-img-top,
	.card-group .card.market-card:not(:first-child) .card-header, .card-group .card.market-card:not(:first-child) .card-img-top,
	.card-group .card.market-card:not(:last-child) .card-header, .card-group .card.market-card:not(:last-child) .card-img-top {
		border-radius:4px;
		flex-shrink:0;
	}
	.card-group .card.market-card>.card-body {
		padding:1rem 0;
	}
}
@media screen and (min-width:525px) {
	.search-txt {
		display:block;
	}
	.search-icon {
		display:none;
	}
}
@media screen and (min-width:992px) {
	.map-btn-wrapper {
		background-image: url("assets/img/map-btn-bg.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		padding:1.3rem;
	}
	.map-btn {
		background-color:$brand-primary;
		border-color:$brand-primary;
		color: white;
	}
	.map-btn:focus,
	.map-btn:hover, 
	.map-btn:active {
		background-color:$brand-primary;
		border-color:$brand-primary;
		color: white;
	}
	.market-filters {
		display:block!important;
	}
}
