// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	padding: .75rem 1.75rem;
	font-weight:600;
}
.btn-primary {
	background-color:$brand-primary;
	border-color:$brand-primary;
	color:white;
}
.btn-secondary {
	background-color:$brand-secondary;
	border-color:$brand-secondary;
	color:white;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	background-color:darken($brand-secondary,5%);
	border-color:darken($brand-secondary,5%);
	color:white;
}
.btn-location {
	background-color: #dee2e6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding:1.35rem 1.5rem;
}
.btn-location:hover,
.btn-location:active,
.btn-location:focus {
	background-color: darken(#dee2e6,5%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding:1.35rem 1.5rem;
}

.btn-search {
	background-color: $brand-secondary;
	border-color: $brand-secondary;
	padding:1.35rem 1.5rem;
	color: white;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
	color:white;
	background-color: darken($brand-secondary,3%);
	border-color: darken($brand-secondary,3%);
}
.btn-gallery {
	position:absolute;
	bottom:1rem;
	left:1rem;
	background-color:$brand-black;
	color: white;
    font-size: .8rem;
    padding: .25rem .75rem;
    border-radius: 33px;
}
.btn-gallery:hover,
.btn-gallery:focus,
.btn-gallery:active {
	color:white;
	background-color:lighten($brand-black,5%);
}
.btn-fac-size {
	background-color:transparent;
	border-color:$brand-primary;
	color:$brand-primary;
	padding:.5rem;
	font-weight:400;
}
.btn-fac-size:hover,
.btn-fac-size:active,
.btn-fac-size.active, 
.btn-fac-size:focus, {
	background-color:$brand-primary;
	border-color:$brand-primary;
	color:white;
}
@media screen and (min-width:500px) {
	.btn-fac-size {
		padding:.5rem 1rem;
	}
}
