// -----------------------------------------------------------------------------------
// This file contains basic styles for HTML tags. Try not to use classes or ID's here
// -----------------------------------------------------------------------------------
 
a {
    color: $brand-primary;
    text-decoration:none;
    border-bottom:2px solid $brand-secondary;
    padding-bottom:2px;
}
a:hover {
	text-decoration:none;
}

body {
	background: #f4f4f4;
	font-family:  Arial;
}