// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
 .footer {
 	padding:1rem 0;
 	background-color:#f4f4f4;
 }
 .logo-footer {
 	width:150px;
 }
 .footer-social-link {
 	color:#c9c9c9;
 	border-bottom:0;
 }
.footer-social-link:hover,
.footer-social-link:active,
.footer-social-link:focus, {
	color:$brand-secondary;
	border-bottom:0;
}
.footer-link-header {
	color:$brand-black;
	font-size:1.1rem;
	font-weight:600;
	margin-bottom:.25rem;
}
footer a {
	border-bottom:0;
	color:$brand-primary;
}
.footer-link-group a {
	display:inline-block;
	padding:.25rem 0;
}
@media screen and (min-width:768px) {
	.footer {
 		padding:4rem 0;
 		background-color:#f4f4f4;
 	}
}

