// -----------------------------------------------------------------------------
// This file contains all styles that are global to the site/application.
// -----------------------------------------------------------------------------
.popover-header {
	background-color:$brand-primary;
	color:white;
}
.contact-title {
	font-weight:600;
	font-size:1.2rem;
}
.modal-header {
	background-color: $brand-primary;
    border-color: $brand-primary;
    color: white;
    border-radius:0;
}
.modal-content {
	border-radius:0;
	border:0;
}
label {
	font-weight:600;
}
.global-search {
	background-color:#edeff1;
	padding:2rem 0;
}

@media screen and (min-width:768px) {
	.hero {
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}
}
