// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// skip to content
#skiptocontent {
	height:1px;
	width:1px;
	display: block;
    overflow: hidden;
    position: absolute;
    left: 10px;
    border-bottom: 0;
    padding-bottom: 0;
}
#skiptocontent:focus {
	height: auto;
	width: auto;
	z-index:9999999;
}
@media screen and (min-width:1px) {
	.navbar-toggler {
		padding: .35rem .75rem .25rem;
	}
	.pay-online {
		display:inline-block;
		padding: .35rem .75rem;
	}
	.pay-online-sm { 
		display:none;
		padding: .35rem .75rem;
	}
	.dropdown-toggle::after {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Pro"; font-weight: 400; content: none;  /* content: "\f107" */
    display: inline-block;
    margin-left: .4em;
    vertical-align: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
	}
}
@media screen and (min-width:480px) {
	.pay-online {
		display:none;
	}
	.pay-online-sm { 
		display:block; 
	}
}
@media screen and (max-width:1199px) {
	.navbar-collapse {
	    margin-left: -15px;
	    margin-right: -15px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.navbar-nav {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.navbar-expand-xl .navbar-nav .nav-link,
	.navbar-expand-xl .navbar-nav .nav-link:hover,
	.navbar-expand-xl .navbar-nav .nav-link:active,
	.navbar-expand-xl .navbar-nav .nav-link:focus {
		text-align: left;
		padding: 1rem 15px;
		border-bottom: 1px solid #f4f4f4;
		position:relative;
	}
	.header-wrapper .fa-angle-down {
		position:absolute;
		right:1rem;
		top:50%;
	}
	.header-wrapper .container {
		max-width:100%;
	}
}
@media screen and (min-width:1200px) {
	.pay-online {
		display:inline-block;
		padding: .75rem 1.75rem;
	}
	.pay-online-sm { 
		display:none; 
	}
}
.navbar a,
.navbar a:hover {
	text-decoration:none;
	border-bottom:0;
	color:$brand-black;
}

.navbar .dropdown-menu {
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white!important;
    background-color: $brand-primary;
    border: 0;
}
.navbar .dropdown-item {
	color:white;
	padding: .5rem 1.5rem;
}
.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: lighten($brand-primary,5%);
}
.navbar-brand img {
    width: 200px;
}
.hamburger-line {
	display:block;
	width:30px;
	height:3px;
	background-color:$brand-black;
	margin-bottom:4px;
}

@media screen and (min-width:768px) {
	.navbar-brand img {
		width:350px;
	}
	.navbar {
		padding: .75rem 1rem;
	}
	.navbar-expand-xl .navbar-nav .nav-link {
	    padding-left: 1rem;
	    padding-right: 1rem;
	    font-size: 1.1rem;
	    font-weight:600;
	}
	.header-wrapper {
		box-shadow: 0px 7px 7px rgba(1, 1, 1, .1);
	}
}